# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Secrets
sensitive/
.env
*.env
private.pem
public.pem
*.pem
*.json
!package.json
!composer.json
!pubspec.json
!tsconfig.json
!pubspec.lock
!package-lock.json
!*.dart
!*.kt
!*.xml
!*.gradle
!*.ts
!*.js
!*.md
!*.sql
!*.dockerignore
!Dockerfile
!docker-compose.yml

# Web/Node
node_modules/
**/node_modules/
dist/
**/dist/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
**/.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
**/build/
/coverage/
**/.gradle/
**/local.properties
.gradle-home/
apps/mobile/analysis_output*.txt

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
