# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env

# Android
.gradle/
build/
*.iml
.idea/
local.properties

# Flutter
.dart_tool/
.packages
.pub-cache/
.pub/
build/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/Flutter.podspec
ios/Flutter/App.framework
ios/Flutter/Engine.framework
ios/Flutter/Generated.xcconfig

# OS Files
.DS_Store
Thumbs.db
.gradle-home/
